.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.App-bottom {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px 0px 10px;
}

.App-link {
  color: #61dafb;
}

.Button {
  outline: none;
  border: none;
  background-color: #981ceb;
  display: flex;
  height: 70px;
  width: 120px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.Button:hover {
  cursor: pointer;
  background-color: rgba(152, 28, 235, 0.5);
}

.Mobile-status {
  width: 250px;
}

.Status {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  height: 50px;
}

.Small-button {
  text-decoration: underline;
  color: #981ceb;
}

.Small-button:hover {
  cursor: pointer;
  color: rgba(152, 28, 235, 0.5)
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
